.info {
  /* Default styles for the info */
  margin: 2em;
  order: 2; /* Put info on the right */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #4b4b4b;
}

.category {
  text-transform: uppercase;
  margin: 0;
  font-size: 1.5rem;
  color: #b2b2b2;
}

.info1 strong {
  font-size: 1.1rem;
}

.allergensContainer {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.times {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
}

.description {
  font-size: 1.1rem;
}

.loadmore{
  color:  #a98614;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .category {
    font-size: 1.3rem;
  }

  .times,
  .description {
    font-size: 1rem;
  }
}
