/* recipeDetails.module.css */

.recipeCard {
  display: flex;
  flex-direction: column;
  margin: 35px;;
  /* Add styles for the recipe card container */
}

.card {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Left for titleAndImage, right for info */
  /* Add styles for the card container */
}

.titleAndImage {
  display: flex;
  flex-direction: column;
  /* Add styles for the title and image container */
}

.title {
  /* Styles for the title */
  font-size: 24px;
  font-weight: bold;
  order: 1; /* Put the title at the top */
}

.imageRow {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Left for titleAndImage, right for info */
}

.info {
  /* Styles for the info */
  order: 2; /* Put styles.info on the right */
}
/* recipeDetails.module.css */

/* recipeDetails.module.css */

.listContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Left for ingredients, middle for nutrition, right for myDiv */
  /* Add styles for the list container */
}

.ingredients {
  /* Styles for ingredients */
  padding: 10px;
}

.ingredients h2 {
  /* Styles for the heading */
  font-size: 20px;
  margin-bottom: 10px;
}

.ingredients ul {
  /* Styles for the ingredient list */
  list-style-type: disc;
  margin-left: 20px;
}

.ingredients button {
  /* Styles for the button */
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.nutrition {
  /* Styles for nutrition */
  padding: 10px;
}

.nutrition h2 {
  /* Styles for the heading */
  font-size: 20px;
  margin-bottom: 10px;
}

.nutrition ul {
  /* Styles for the nutrition list */
  list-style-type: disc;
  margin-left: 20px;
}

.nutrition button {
  /* Styles for the button */
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.myDiv {
  /* Styles for myDiv */
  padding: 10px;
}

.instructions {
  /* Styles for instructions */
  padding: 10px;
  order: 3; /* Put styles.instructions at the bottom */
}

