.nutrition {
  padding: 1em; 
}

.nutrition h2 {
    font-size: 1.25em; 
    margin-bottom: 0.625em; 
}

.nutrition ul {
    list-style-type: disc;
    margin-left: 1.25em; 
}

.nutrition button {
    /* Default styles for buttons */
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 0.625em 1.25em; /* Using em for padding */
    font-size: 1em; /* Using em for font size */
    cursor: pointer;
  }
  