.tagItem {
  list-style: none;
}
.tagButton {
  background-color: #003153;
  border-radius: 0.25rem;
  padding: 0.35rem 0.5rem;
  color: white;
}
.tagButton:hover {
  background-color: #fff;
  transform: scale(1.05);
  color: #003153;
}
