.tagItem {
  list-style: none;
}
.tagButton {
  background-color: rgb(129, 121, 30);
  border-radius: 0.25rem;
  padding: 0.35rem 0.5rem;
  color: white;
  border: none;
}
.tagButton:hover {
  background-color: #66cd67;
  transform: scale(1.05);
  color: #66cd67;
}
