.tagItem {
  list-style: none;
}

.tagButton {
  z-index: 100;
  background-color: rgb(129, 121, 30);
  border-radius: 0.9rem;
  padding: 0.4rem 0.6rem;
  color: white;
  border: none;
  font-size: 0.9rem;
}
.tagButton:hover {
  background-color: rgb(129, 121, 30);
}
