.background {
  background-image: url('/images/marble-background.png'); /* Use the correct path to your image */
  min-height: 100vh;
}

.layout {
  background-image: url('/images/marble-background.png'); /* Use the correct path to your image */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.imgDiv {
  align-self: center;
  /* background-color: #a7a7a040; */
  background-size: cover;
  background-position-y: -47em;
  padding: 5px;
  cursor: pointer;
  margin-left: 25px;
}

.img {
  width: 13em;
  margin-left: 2em;
}

.children {
  padding: 0;
  margin-bottom: 60px;
}

.expanded {
  margin-left: 144px;
}

.expand {
  margin-left: 67px;
}

@media only screen and (max-width: 1040px) {
  .expanded {
    margin-left: 133px;
  }

  .expand {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 727px) {

  .expand {
    margin-left: 13%;
  }
}
@media only screen and (max-width: 537px) {

  .expand {
    margin-left: 16%;
  }
}

@media only screen and (max-width: 445px) {
  .expanded {
    margin-left: 47px;
  }

  .expand {
    margin-left: 20%;
  }
}
@media only screen and (max-width: 354px) {
  .expand {
    margin-left: 23%;
  }
}

@media only screen and (max-width: 426px){
  .imgDiv, .img{
    margin: 3px;
    padding: 0;
  }

  .expanded {
    margin: 12px;
  }
  
  .expand {
    margin: 12px;
  }
  
}

