.layout{
    display: flex;
    flex-direction: column;
}

/* .imgDiv{
 
    /* background-color: rgba(218, 224, 250, 0.277); */
    /* background-image: url('../../public/images/layoutHeader.jpg'); */
    /* height:400px;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 5px; */
/* }  */

.img{
    text-align: center; 
    /* width: 190px; */
    padding: 6%;
    /* height: 140px;  */
    /* position: fixed; */
    
    top: 0;
    
    
 } 

.expanded{
    margin-left: 150px;
}

.expand {
    margin-left: 75px;
}

@media only screen and (max-width: 1040px){
    
    .expanded{
        margin-left: 140px;
    }
    
    .expand {
        margin-left: 60px;
    }
}

@media only screen and (max-width: 445px){
    
    .expanded{
        margin-left: 47px;
    }
    
    .expand {
        margin-left: 47px;
    }
}