
.backgroundImage {
  margin-top: 0%;
  background-image: url('../../public/images/backgroundImage.png'); 
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 83vh;
  overflow: hidden;
}

.menu a {
  font-family:sans-serif;
  display: block;
  margin: 10px 0;
  color: gray;
  text-decoration: none;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(218, 224, 250, 0.277);
}

.logoimage{
  text-align: center;
} 