
.backgroundImage {
  margin-top: 0%;
  background-image: url('../../public/images/backgroundImage.png'); 
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 83vh;
  overflow: hidden;
}

.menu a {
  font-family: sans-serif;
  display: block;
  margin: 10px 0;
  color: gray;
  text-decoration: none;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(218, 224, 250, 0.277);
  text-wrap: nowrap;

}
.menu a:hover{
  text-decoration: underline;
}

.menu{
  margin: 10%;
}

@media only screen and (max-width: 759px){
 .backgroundImage{
  background-position: 70%;
 }
}

@media only screen and (min-width: 770px){
 .menu{
  display: grid;
  grid-template-columns: 20% 20%;
  gap: 12%;
 }

 .menu a{
  padding: 15px;
  width: 156px;
  text-wrap: nowrap;
 }
}