.auth{
    display: grid;
    grid-template-columns: 40% 60%;

}

.img{
    height: 83vh;
    width: 100%;
}

.control {
    display: flex;
    flex-direction: column;
}

.control input{
    /* width: 15em; */
    height: 3em;
    border-radius: 5px;
    border: none;
    background-color: rgb(228, 223, 223);
    text-align: center;
}

.auth form{
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    padding: 2rem;
}

.auth h3{
    text-align: center;
    margin-top: 1em;
}

.actions{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
}

.auth label{
    margin-left: 10px;
}