.button{
    padding: 1%;
    padding-left: 10px;
    padding-right:10px ;
    /* width: 140px; */
    border-radius: 5px;
    border: none;
    color: white;
    background: rgb(16, 161, 180);
    font-size: large;
}