.background {
  background-image: linear-gradient(
      90deg,
      rgba(27, 27, 27, 0.083),
      rgba(180, 180, 180, 0.181)
    ),
    url('../../../public/images/landing.png');
  background-position: 60%;
  background-size: cover;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputsContainer {
  background-color: rgba(45, 63, 13, 0.253);
  padding: 1rem 0rem;
  border-radius: 0.7rem;
  color: #f0f0f0;
  width: 40rem;
  font-size: 0.9rem;
  margin: 10px;
}

.heading {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .inputsContainer {
    width: 80%;
  }
  .heading {
    font-size: 1.5rem;
  }
}
