.expandableMenu {
  position: fixed; /* Position the menu relative to the viewport */
  top: 0; /* Position it at the top */
  left: 0; /* Position it at the left */
  height: 100%; /* Make it cover the entire height of the viewport */
  /* width: 150px; */
  /* background-color: rgb(171, 177, 41); */
  background-color: #a98614;
  color: #fff;
  overflow: hidden;
  transition: width 0.3s;
  border-left: 0px;
  box-shadow: 10%;
  border-top: 1px;
  border-right: 1%;
  padding: 23px;
  z-index: 1;
}

.menuToggle {
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
}
.menuToggle:hover {
  transform: scale(1.1);
}

.menuToggle.expanded {
  width: 200px;
}

.menuOptions {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

.menuOptions.expanded li {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 10px;
}

.menuOptions.expanded svg {
  margin-right: 10px;
}
.pageContainer {
  display: flex;
}

.link {
  font-size: 28px;
}

.link a {
  color: #fff;
}

.links2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.links2:hover {
  transform: scale(1.1);
}

.links2 a {
  color: #fff;
}

.optionName a {
  color: #fff;
  text-decoration: none;
}

.mobileNav{
  font-size: 30px;
}

.mobileMenu{
  display: none;
}

@media only screen and (max-width: 426px){
  .expandableMenu{
    display: none;
  }

  .mobileMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: #a98614;
    padding: 10px;
  
    position: fixed;
    bottom: 0;
  }
  
  .mobileMenu a{
    font-size: 30px;
    color: white;
  }
}
