.title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 3rem;
    text-align: center;
    padding-top: 9%;
    margin-top: 2rem;
    color:  #003153;
    padding-right: 13%;
}

.backgroundImage {
    margin-top: 0%;
    background-image: url('../../public/images/CatPage.jpg'); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }

  .buttonClear{
    height:5%;
    font-size:15px;
    padding-top: 12%;
  }