.background {
    
    background-image: url('../../../public/images/dessert.png');
    background-position: 60%;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

}


.text{
    color: white;
}