.title{
    margin: 0;
}
.times{
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin: 0;
    font-weight: 400;
    /* justify-content: space-between; */
}
.tagsList{
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.tagsList h4 {
    border: solid gray 1px;
    padding: 3px;
    border-radius: 5px;

}

.img{
    width: 100px;
    height: 80px;
    border-radius: 5px;
}

.recipe{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
}

.recipe div:first-child{
    border-radius: 5px;
}

.link {
    text-decoration: none;
    color: rgb(104, 104, 104);
}

.item :hover{
    background-color: rgb(226, 226, 226);
}
.description{
    border-radius: 5px;
}