.tagsContainer {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}
.tagsList {
  display: flex;
  flex-direction: row;
  gap: 1%;
}

.tagsList h4 {
  border: solid gray 1px;
  padding: 3px;
  border-radius: 5px;
}

.title {
  margin: 0;
  color: #003153;
  visibility: hidden;
}

.heading {
  margin: 0;
  color: #003153;
}
.heading h3 {
  font-weight: 800;
  color: #4b4b4b;
}
.img {
  width: 100px;
  height: 80px;
  border-radius: 5px;
}

.recipe {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4%;
  /* background-color: red; */
  margin-top: 0;
}

.recipe div:first-child {
  /* background-color: orange; */
  border-radius: 5px;
}

.link {
  /* background-color: blue; */
  text-decoration: none;
  color: rgb(104, 104, 104);
  padding-top: 0;
}

.favAndInfoIconContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
}
.tagAndIconsContainer {
  padding: 0 1.5rem;
  margin-top: 1rem;
}
.infoIcon {
  color: #cdb266;
}
.infoIcon:hover {
  transform: scale(1.2);
}
.item {
  margin: 0.5rem 10%;
  border: none;
}
.item :hover {
  background-color: rgb(246, 245, 245);
}

/* Mobile view */

@media only screen and (max-width: 760px) {
  .item {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .img {
    margin-top: 0px;
    width: 300px;
    height: 200px;
  }

  .title {
    font-size: 20px;
    text-align: center;
  }

  .heading {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .heading h3 {
    font-weight: 700;
    margin-top: 1.2rem;
  }

  .recipe {
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-left: 20px;
  }
  .tagAndIconsContainer {
    padding: 0;
  }
}

/* Tablet view */

@media only screen and (min-width: 761px) {
  .item {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
  }

  .img {
    height: 200px;
    width: 250px;
    padding-left: -10px;
  }

  .recipe {
    display: flex;
    margin-top: 10px;
    padding-left: 25px;
  }

  .details {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .title {
    padding-bottom: 10px;
    font-size: 25px;
  }

  .heading {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .description {
    padding-left: 250px;
    padding-bottom: 5px;
  }

  .button {
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(26, 26, 72, 0.784);
    color: white;
  }

  .button:hover {
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(26, 26, 72, 0.784);
    color: white;
  }
}

/* Laptop view */

@media only screen and (min-width: 1280px) {
  .item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .img {
    height: 150px;
    width: 200px;
  }

  .recipe {
    display: flex;
    margin-top: 10px;
    padding-left: 25px;
  }

  .details {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .title {
    padding-bottom: 10px;
  }

  .heading {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .description {
    padding-left: 250px;
    padding-bottom: 5px;
  }

  .button {
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(26, 26, 72, 0.784);
    color: white;
  }

  .button:hover {
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(26, 26, 72, 0.784);
    color: white;
  }
}
