.search{
    text-align: center;
    
}

/* .search{
    padding: 40px;
    height: 65vh;
    background: url('../../../public/images/stew.jpeg'); 
    background-size: cover;
    background-position-y: 20%;
} */

.search input {
    height: 48px;;
    width: 500px;
    text-align: center;
    font-size: larger;
    border: none;
    border-bottom: 1px solid ; 
    background-color: rgba(116, 118, 118, 0.778);
    border-radius: 10px 0px 0px 10px;
    position: relative;
    font-weight: 500;
    color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.538) ;
    
   

   
}
.search input::placeholder {
    color: white;
  }

.search input:active{
    border: none;
    background-color: rgba(208, 198, 198, 0.248);
}

.search h1 {
    font-size: 400%;
    margin: 10px;
    color: black;
}

.results{
    padding: 15px;
}



.searhHistory{
    position: absolute;
    background-color:rgb(233, 233, 233);
    border-radius: 4px;
    min-width: 500px;
    text-align: justify;
    color: black;
    box-shadow: 3px 2px 5px 2px rgba(0, 0, 0, 0.488);
}

.searhHistory li{
    font-weight: bolder;
    list-style: none;
    padding: 10px;
    cursor: pointer;
    
}

.searhHistory li:hover{
    background-color: rgba(128, 128, 128, 0.146);
    border: 1px solid black;
} 

 .searhHistory p {
    cursor: pointer;
    margin-left: 5px;
}

.total,
.noRecipes{
  text-align: center;
}


/* Mobile view */
@media only screen and (max-width: 508px){
    
.search input {
    height: 48px;;
    width: 200px;
   }

   .searhHistory{
  
    min-width: 200px;
    
}
   
}


/* Tablet view */
@media only screen and (max-width: 800px){
    .search input {
        height: 48px;;
        width: 300px;
       }
    
       .searhHistory{
      
        min-width: 300px;
        
    }

}