.search{
    text-align: center;
}

.search{
    padding: 40px;
    height: 65vh;
    background: url('../../../public/images/stew.jpeg'); 
    background-size: cover;
    background-position-y: 20%;
}

.search input {
    height: 13vh;
    min-width: 60%;
    text-align: center;
    font-size: larger;
    border: none;
     border-bottom: 1px solid ; 
    background-color: rgba(230, 227, 227, 0.753);
}

.search input:active{
    border: none;
    background-color: rgba(252, 252, 252, 0.253);
}

.search h1 {
    font-size: 400%;
    margin: 10px;
}

.results{
    padding: 15px;
}

.searhHistory{
    background-color: white;
    border-radius: 4px;
    width: 60%;
    transform: translateX(33.5%);
    text-align: justify;
}

.searhHistory li{
    font-weight: bolder;
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

.searhHistory li:hover{
    background-color: rgba(128, 128, 128, 0.146);
}

.searhHistory p {
    cursor: pointer;
    margin-left: 5px;
}

.total,
.noRecipes{
  text-align: center;
}

@media only screen and (max-width: 508px){
    .searhHistory{
        width: 105%;
        transform: translateX(0%);
    }

    .search input {
        width: 105%;
    }

}