.img {
    box-shadow: 3px 3px 12px black;
    border-radius: 10px;
    width: 430px;
    height: 60vh;

}

.container{
    padding: 10px;
    width: 430px;
}

@media only screen and (max-width: 320px){
    .img {
        box-shadow: 3px 3px 12px black;
        border-radius: 10px;
        width: 400px;
        height: 40vh;
    }
    
    .container{
        width: 270px;
    }
}

@media only screen and (max-width: 759px){
    .img {
        box-shadow: 3px 3px 12px black;
        border-radius: 10px;
        width: 450px;
        height: 60vh;        
    }
    
    .container{
        width: 475px;
    }
}

@media only screen and (max-width: 575px){
    .img {
        box-shadow: 3px 3px 12px black;
        border-radius: 10px;
        width: 350px;
        height: 55vh;        
    }
    
    .container{
        width: 375px;
    }
}
@media only screen and (max-width: 476px){
    .img {
        box-shadow: 3px 3px 12px black;
        border-radius: 10px;
        width: 250px;
        height: 40vh;        
    }
    
    .container{
        width: 275px;
    }
}