.imageSlider button{
    background-color: transparent;
    border: none;
    font-size: 200%;
    cursor: pointer;
}

.img {
    box-shadow: 3px 3px 12px black;
    border-radius: 10px;
    width: 60em;
    height: 60vh;
    margin: 5px;
    margin-left: 15px;

}