.imageSlider button{
    background-color: transparent;
    border: none;
    font-size: 200%;
    cursor: pointer;
}

.img {
    box-shadow: 3px 3px 12px black;
    border-radius: 10px;
    width: 26em;
    height: 21em;
}

.imageSlider {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 15px; */
}

@media only screen and (max-width: 473px){
    
    .img{
        width:  20em;
        height: 17em;
    }
    
}
@media only screen and (max-width: 387px){
    
    .img{
        width: 18em;
        height: 15em;
    }
    
}
@media only screen and (max-width: 349px){
    
    .img{
        width: 15em;
        height: 15em;
    }
    
}