.isFavourite {
  color: #ca8018;
}
.icon {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #ca8018;
}
.icon:hover {
  transform: scale(1.4);
}
.favButton {
  border: none;
  background-color: transparent;
}
