@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-bo;
}

.previewMain{
    padding-left: 80px;
    padding-right: 80px;
}


/*Load more button*/

.loadMore{
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.loadMoreButton {
    background-color: rgb(129, 121, 30);
    border-radius: 0.25rem;
    padding: 0.35rem 0.5rem;
    color: white;
    border: none;
  }

.pNumber {
    padding-top: 10px;
    
}