@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-bo;
}

.previewMain{
    padding-left: 8px;
    padding-right: 8px;
}

.previewBackgroundImage{
    background: url('https://images.pexels.com/photos/2313686/pexels-photo-2313686.jpeg?auto=compress&cs=tinysrgb&w=600');
    height: 66vh;
    background-position: center;
    background-size: cover;
    /* display: grid;
    grid-template-columns: 80% 20%;
    justify-content: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}


/*Load more button*/

.loadMore{
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.loadMoreButton {
    background-color: rgb(129, 121, 30);
    border-radius: 0.25rem;
    padding: 0.35rem 0.5rem;
    color: white;
    border: none;
  }


.pNumber {
    padding-top: 10px;
    
}

.previewSort{
    color: black;
    height: 5vh;
    margin: 10px;
    font-size: 120%;
    border-radius: 3px;
}