@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-bo;
}

.previewMain{
    padding-left: 8px;
    padding-right: 8px;
}

.previewBackgroundImage{
    background: url('../public/images/backPic.jpg');
    height: 62vh;
    background-position: center;
    background-size:1500px;
    background-repeat: no-repeat;
}


/*Load more button*/

.loadMore{
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.loadMoreButton {
    background-color: rgb(129, 121, 30);
    border-radius: 0.25rem;
    padding: 0.35rem 0.5rem;
    color: white;
    border: none;
  }


.pNumber {
    padding-top: 10px;
    
}

.previewSort{
    color: black;
    height: 5vh;
    margin: 10px;
    font-size: 120%;
    border-radius: 3px;
}